menu "USB Network Component Configuration"

config USBNET_DHCP_SERVER_EN
    bool "Enable DHCP Server for USB NCM"
    default y
    select LWIP_DHCPS
    help
        If selected, the USB NCM interface will start a DHCP server to assign
        an IP address to the connected host. This requires the main LWIP DHCP
        server option (CONFIG_LWIP_DHCPS) to be enabled.

endmenu
